* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

#titulo, #titulo5, #titulo4, #titulo3, #titulo2 {
  animation-duration: 3s;
  animation-name: apa;
  animation-iteration-count: infinite;
}
#titulo h1 a, #titulo5 h1 a, #titulo4 h1 a, #titulo3 h1 a, #titulo2 h1 a {
  text-decoration: none;
  font-size: 100px;
}
@keyframes apa {
  0% {
    color: #ffbef5;
  }
  50% {
    color: #c1c9ff;
  }
  100% {
    opacity: 1;
    color: #ddb3ff;
  }
}

#Nosotros article {
  animation: myAnim6 2s ease 0s 1 reverse none;
}
@keyframes myAnim6 {
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
#Nosotros article h1 {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #e429cb, #f79d00, #4e9ae6, #64f38c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 5s infinite alternate-reverse;
}
@keyframes animatedText {
  to {
    background-position: 100%;
  }
}

#card1 img:hover {
  animation: Ani3 1s ease 0s 1 normal forwards;
}
@keyframes Ani3 {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1) translateX(0) translateY(0);
  }
  100% {
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    transform: scale(1.1) translateX(12px) translateY(-12px);
  }
}
#card1 div h5 {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #00F260, #f79d00, #0575E6, #64f38c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 5s infinite alternate-reverse;
}
@keyframes animatedText {
  to {
    background-position: 100%;
  }
}
#card1 div a:hover {
  background: linear-gradient(247deg, #f768ff, #a168ff, #4c5fff);
  background-size: 600% 600%;
  -webkit-animation: Ani4 3s ease infinite;
  -moz-animation: Ani4 3s ease infinite;
  animation: Ani4 3s ease infinite;
}
@-webkit-keyframes Ani4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Ani4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Ani4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#header4 {
  animation: Ani1 2s ease 0s infinite normal forwards;
}
@keyframes Ani1 {
  100% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

#cont4 img:hover {
  animation: Ani2 1s ease 0s infinite normal forwards;
}
@keyframes Ani2 {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
#cont4 a:hover {
  background: linear-gradient(247deg, #68ff89, #a183d4, #3d50fa);
  background-size: 600% 600%;
  -webkit-animation: Ani4 3s ease infinite;
  -moz-animation: Ani4 3s ease infinite;
  animation: Ani4 3s ease infinite;
}
@-webkit-keyframes Ani4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Ani4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Ani4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#card5 img:hover {
  animation: Ani3 1s ease 0s 1 normal forwards;
}
@keyframes Ani3 {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1) translateX(0) translateY(0);
  }
  100% {
    box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    transform: scale(1.1) translateX(12px) translateY(-12px);
  }
}
#card5 div h5 {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #00F260, #f79d00, #0575E6, #64f38c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 5s infinite alternate-reverse;
}
@keyframes animatedText {
  to {
    background-position: 100%;
  }
}
#card5 div a:hover {
  background: linear-gradient(247deg, #f768ff, #a168ff, #4c5fff);
  background-size: 600% 600%;
  -webkit-animation: Ani4 3s ease infinite;
  -moz-animation: Ani4 3s ease infinite;
  animation: Ani4 3s ease infinite;
}
@-webkit-keyframes Ani4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Ani4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Ani4 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#accor1, #accor4, #accor3, #accor2 {
  background: linear-gradient(87deg, #87f9dc, #87adf9, #bc87f9, #f987dc, #ecf987);
  background-size: 1000% 1000%;
  -webkit-animation: apa1 6s ease infinite;
  -moz-animation: apa1 6s ease infinite;
  animation: apa1 6s ease infinite;
}
@-webkit-keyframes apa1 {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-moz-keyframes apa1 {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@keyframes apa1 {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
#accor1 button, #accor4 button, #accor3 button, #accor2 button {
  background-color: #f0dfff;
}
#accor1 button:hover, #accor4 button:hover, #accor3 button:hover, #accor2 button:hover {
  animation-duration: 3s;
  animation-name: apa6;
  animation-iteration-count: infinite;
}
@keyframes apa6 {
  0% {
    color: #ff94ef;
  }
  50% {
    color: #556bff;
  }
  75% {
    color: #68ff89;
  }
  100% {
    opacity: 1;
    color: #ad49ff;
  }
}

#foot #grup p:hover {
  animation-duration: 2s;
  animation-name: apa9;
  animation-iteration-count: infinite;
  text-decoration: underline;
}
@keyframes apa9 {
  0% {
    color: #fa78e6;
  }
  50% {
    color: #556bff;
  }
  75% {
    color: #f5ff68;
  }
  100% {
    opacity: 1;
    color: #992df1;
  }
}
#foot #nov p:hover {
  animation-duration: 3s;
  animation-name: apa99;
  animation-iteration-count: infinite;
  text-decoration: underline;
}
@keyframes apa99 {
  0% {
    color: #ff94ef;
  }
  50% {
    color: #556bff;
  }
  75% {
    color: #51ff77;
  }
  100% {
    opacity: 1;
    color: #ffd549;
  }
}

header {
  background: rgb(255, 128, 128);
  background: linear-gradient(90deg, rgb(255, 128, 128) 0%, rgb(162, 82, 255) 47%, rgb(55, 140, 255) 100%);
  padding: 50px;
}

#navo, #navo5, #navo4, #navo3, #navo2 {
  box-shadow: 0px 10px 10px -15px black;
}

#Nosotros {
  margin: 50px;
  border: solid pink 5px;
}
#Nosotros article h1 {
  font-size: 50px;
}

#card1 {
  flex-direction: row;
  align-items: center;
  margin: 30px;
}
#card1 img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
#card1 .card-body .card-title {
  font-size: 50px;
  margin: 10px;
}
#card1 .card-body .card-text {
  font-size: 20px;
  margin: 10px;
}

#foot {
  background-color: #494b4d;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
}
#foot a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#NosSec {
  margin: 50px;
}
#NosSec h2:hover {
  color: #6dbae4;
}

#uno {
  padding: 10px;
}

#card5 {
  flex-direction: row;
  align-items: center;
  margin: 30px;
}
#card5 img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
#card5 .card-body .card-title {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  a {
    display: none;
  }

  .card-body {
    padding: 0.5em 1.2em;
  }

  .card-body .card-text {
    margin: 0;
  }

  .card img {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}
#header4 {
  background-color: #ddb3ff;
  margin-top: 20px;
}

#Albumm {
  height: auto;
  word-wrap: break-word;
}

#Accor {
  margin: 30px;
}
#Accor #accor1 button, #Accor #accor2 button, #Accor #accor3 button, #Accor #accor4 button {
  background-color: #f0dfff;
}

/*# sourceMappingURL=css.css.map */
